@model IEnumerable<Restaurant.Web.Models.OrderDetail>

@{
    ViewData["Title"] = "Index";
}
<br />
<br />
<br />
<br />
<br />
<br />

<style>
    body {
        background-image: url(/lib/images/backhome1.jfif);
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: 100% 100%;
    }
</style>
<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                <h5 style="color:white"> Table Number</h5>
            </th>
            <th>
                <h5 style="color:white"> @Html.DisplayNameFor(model => model.MenuItem)</h5>
            </th>
            <th>
                <h5 style="color:white"> @Html.DisplayNameFor(model => model.Quantity)</h5>
            </th>
            <th>
                <h5 style="color:white"> Total Price</h5>
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                    <h5 style="color:white">  @Html.DisplayFor(modelItem => item.Order.OrderNumber)</h5>
            </td>
            <td>
                    <h5 style="color:white"> @Html.DisplayFor(modelItem => item.MenuItem.MenuItemName)</h5>
            </td>
            <td>
                    <h5 style="color:white"> @Html.DisplayFor(modelItem => item.Quantity)</h5>
            </td>
            <td>
                    <h5 style="color:white"> @Html.DisplayFor(modelItem => item.Total)</h5>
            </td>
            <td>

                    <a asp-action="Edit" asp-route-id="@item.OrderDetailId" button type="button" class="btn btn-primary">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.OrderDetailId" button type="button" class="btn btn-warning">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.OrderDetailId" button type="button" class="btn btn-danger">Delete</a>
                </td>
        </tr>
}
    </tbody>
</table>
